<style>
  footer {
    margin-top: 16px;
    padding: 2rem 0;
    text-align: center;
    color: #888;
    /* color: white; */
    background-color: var(--mint);
  }
</style>

<footer>
  <p class="container">© 2020 · Created by Alex Wu · <a class="link" href="https://www.linkedin.com/in/alexanderwu7/">LinkedIn</a> · <a href="mailto:alexander.wu7@gmail.com">Email</a> · <a class="link" href="https://github.com/alexanderwu">GitHub</a></p>
</footer>
