<link rel="stylesheet" href="/css/header.css">

<header>
  <nav class="container">
    <a href="/" class="logo">Alex Wu</a>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </nav>
</header>
