<div class="main container">
  <p>This website is constantly being updated. Bookmark me and check back soon for more!</p>
  <h2>Recent articles</h2>
  <div>
    <% site.posts.sort('date', 'desc').forEach((post) => { %>
      <a class="card" href="<%- post.path %>">
        <span><%= post.title %></span>
        <p class="sub"><%= date(post.date) %></p>
      </a>
    <% }) %>
  </div>
  <h2>Coming soon...</h2>
  <p>Future content:</p>
  <ul>
    <li>Takeaways from all the classes I took in undergrad and grad school</li>
    <li>Takeaways from books I've read</li>
    <li>UX Tips.</li>
    <li>My development setup: VSCode, Sublime Text, Jupyter Notebook, etc.</li>
    <li>A dedicated cooking section for basic tips and recipes</li>
    <li>Pre-made travel itineraries (for when Covid-19 ends). I mean I have a bunch of flight credits I gotta use up anyway. And they say most of the fun from travelling comes from the anticipation beforehand.</li>
    <li>Interactive resume (for the recruiters and to whom it may concern)</li>
    <li>Portolio of projects (also for the recruiters)</li>
  </ul>
  <p>Nice-to-have features:</p>
  <ul>
    <li>Dark mode</li>
    <li>Sidebar navigation with scrollspy</li>
    <li>Responsive layout (for mobile users)</li>
    <li>Scroll to top button (w/ position fixed at lower right corner)</li>
  </ul>
</div>
