<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="Personal website">
    <meta author="Alexander Wu">
    <link rel="icon" href="/favicon/favicon.ico">
    <title>alexanderwu</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <%- partial('_partial/header') -%>
    <%- body %>
    <%- partial('_partial/footer') -%>
  </body>
</html>
